  @import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Poppins&display=swap');


  /* body */
*{
    /* background-color: black; */
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration:none;
    /* text-transform: capitalize; */
    transform: all 0.2s linear;
    font-family: 'Orbitron', sans-serif;
}
body{
    background-color: black;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 0.5rem;
    font-size: 66%;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 1rem 3%; 
    background: black ;     /*#486AAE    */
    z-index: 1001;
    position: fixed;
}

/* tata logo */
header .logo{
    font-size: 2.8rem;
    cursor: pointer;
    color: white;
    letter-spacing: 5px;
    font-family: 'Orbitron', sans-serif;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

/* -------------the anchor tags in navigation bar */
header .nav-links{
    width:55%;
}
header .nav-links a{
    margin: 0 0.8rem;
    font-size: 1.1rem;
    padding: 1rem;
    text-align: center;
    width: 100%;
    line-height: 10px;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
header .nav-links a:hover{
    color: #F55050;
    /* background-color: white;       */
    
    font-weight: bold;

    
    
}
header .fa-bars{
    font-size: 2.1rem;
    cursor: pointer;
    display: none;
    color: white;
}
/* hero page css*/

 .hero .container{
    /* position: absolute; */
    left: 0;
    top: 9vh;
    height: 100vh;
    width: 100%;
    overflow:hidden;
    animation: change 27s ease-in-out  infinite; 
    background-size: cover;                 /* background changing animation*/
}
.hero .container .outer{
    /* position:absolute; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
}
.hero .container .outer .details{
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: white;
}
.details h1{
    font-size: 6rem;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;
    color: rgb(152, 255, 246);
    display: inline-block;
}
.details h2{
    font-size: 2.6rem;
    letter-spacing: 3px;
    font-family: 'Orbitron', sans-serif;
    display: inline-block;
}
.details h2 span{
    font-family: 'Orbitron', sans-serif;
}
@keyframes change{
    0%,100%{
        background: url("https://a-static.besthdwallpaper.com/one-piece-poster-wallpaper-1280x720-29934_45.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
    25%{
        background: url("https://flashbackwebsite.files.wordpress.com/2016/10/6b2d8-one2bpiece2bwallpapers2b3.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
    50%{
        background: url("https://images3.alphacoders.com/905/thumb-1920-905410.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
    75%{
        background: url("https://wallpapers.com/images/featured/0cp6bwz93q5udc63.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
}
#king{
    color: rgb(152, 255, 246);
    font-size: 3.5rem;
    font-weight: 800;
}
.btn{
    display: inline-block;
    padding: 0.8rem 3.8rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.8rem;
    border: 0.1rem solid white;
    color: rgb(152, 255, 246);
    background-color:rgba(19, 19, 19, 0.6);
    border-radius: 30px;
    font-weight: bolder;
    letter-spacing: 3px;
    margin-top: 30px;
}
.btn:hover{
    background-color: white;
    color: black;
}

/* about section css*/

.about{
    box-sizing: border-box;
    background-color:black;
    padding: 3rem 8%;
}
.about .box{    /* luffy zoro stuff*/
    display: flex;
    align-items: center;
    justify-content:space-between ;
    margin-top: 7rem;
}
.about .box .image img{
    width: 60rem;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
}

.heading{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 4.2rem;
    background-color: black;
}
.heading h2{
    font-family: 'Orbitron', sans-serif;
    color: rgb(152, 255, 246);
    top: 7rem;
    padding-top: 4rem;
    margin-bottom: 0rem;
}
.heading div{
    display: inline-block;
    border-bottom: 0.3rem solid rgb(152, 255, 246);
    width: 15rem;
    transition: width 0.3s;
}
.heading div:hover{
    width: 25rem;
}
.about .box .content{
    margin-left: 6rem;
}
.about .box .content h3{
    color: rgb(152, 255, 246);
    font-size: 3.5rem;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Orbitron', sans-serif;
}
.about .box .content p{
    color: rgb(152, 255, 246);
    font-size: 1.9rem;
    letter-spacing: 3px;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 4rem;
}
.about .box .content div{
    padding: 10px;
    margin-top: 20px;
    font-size: 1.8rem;
    /* padding-left: 0; -----------------------------------------------------*/
    font-family: 'Orbitron', sans-serif;
    color: #FAD3E7;
}

/* abt page css complete----------------------- */

/* services css--------------------------------------------------- */

.services{
    box-sizing: border-box;
    background-color: black;
}
.services .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));    
    gap: 0.8rem;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.services .row .box{
    text-align: center;
    color:rgb(152, 255, 246) ;
    padding: 4rem;
    border-radius: 0.8rem;
}
.services .row .box:hover{
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
    background-color: rgba(69, 69, 69, 0.5);
}
.services .row .box i{
    font-size: 5rem;
    color: white;
}
.services .row .box h3{
    margin: 1.5rem 0;
    font-family: 'Orbitron', sans-serif;
    color: #FAD3E7;
    font-size: 2.5rem;
}
.services .row .box p{
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
}


/* services css complete//////////////////////////////////////////// */

/* portfolio section css here pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp */
.portfolio{
    box-sizing: border-box;
    background-color: black;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
}
.portfolio .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25%,1fr));
    gap: 1rem;
    margin: 6rem;
    width: 90%;
}
.portfolio .row .box{
    position: relative;
    overflow: hidden;
    padding: 1rem;
}
.portfolio .row .box:hover img{
    transform: translateY(-100%);
}
.portfolio .row .box img{
    height: 100%;
    width: 100%;
    transition: transform 1s;
    object-fit: cover;
}
.portfolio .row .box:hover .content{
    transform: translateY(0%);
}
.portfolio .row .box .content{
    position:absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 3rem 2rem;
    height: 100%;
    width: 100%;
    transition: transform 1s;
    transform: translateY(100%);
    padding-top: 2.2rem;
}
.porthead{ /* class of heading of portfolio*/
    font-size: 2.5rem;
    font-family: 'Orbitron', sans-serif;
    color: rgb(152, 255, 246) ;
    letter-spacing: 2px;
    margin-top: 4rem;
}
.portpara{
    padding: 1rem;
    letter-spacing: 2px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.8rem;
    line-height: 1;
    color:#FAD3E7;
    margin-bottom: 0;
}


/* portfolio section css complete ppppppppppppppppppppppppppppppppppppppp*/

/* teams section css started here */
.team{
    width: 100%;
    box-sizing: border-box;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background-color: black;
}
.team .row{
    background: url("https://wallpaperaccess.com/full/3358359.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
    min-height: 90vh;
}
.team .row::before{   /* IF I REMOVE THIS BEFORE THE CONTENT WILL START FROM TOP HERO PAGE*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(14, 14, 14, 0.3);

}

.team .team-slid .box .content{
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.7);
    text-align: center;
    color: white;
    padding: 4rem;
    border-radius: 1rem;
    height: 30rem;
}
.team .team-slid .box:hover .content{
    background-color: rgba(0, 0, 0, 0.8);
}
.team .team-slid .box .image img{
    border-radius: 30px;
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 17rem;
    left: 1rem;
    border: 0.3rem solid rgb(152, 255, 246);
}
.team .team-slid .box .content h3{
    font-size: 3.5rem;
    color: rgb(152, 255, 246);
    margin: 1rem;

}
.team .team-slid .box .content p{
    color: #FAD3E7;
    letter-spacing: 1.5px;
    font-size: 2.2rem;

}
/* teams section css complete here */

/* blog section css starts here ---------------------------*/

.blog{
    background-color: black;
}
.blog .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25%,1fr));
    column-gap: 2rem;
    row-gap: 8rem;
    margin-top: 5rem;
    padding-left:4rem ;
    padding-right:4rem ;
    padding-top:4rem ;
    padding-bottom:4rem ;
    box-sizing: border-box;

}
.blog .row img{
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
}
.blog .row video{
    border-radius:30px;
}
.blog .row h3{
    color:rgb(152, 255, 246) ;
    font-size: 3rem;
    margin: 1.5rem 0;
}
.blog .row p{
    color:rgb(152, 255, 246) ;
    font-size: 1.8rem;
    margin: .8rem 0;
}
.blog .row .box{
    padding: 3rem;
    box-sizing: border-box;
    border-radius: 0px;
    background-color: rgba(49, 49, 49, 0.5);
  
}
.blog .row .box:hover{
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
    background-color: rgba(69, 69, 69, 0.5);
}
.welcome{
    padding: 7rem 0rem;
    text-align: center;
    height: 18rem;
    background-color: black;
}

.welcome span{
    font-size: 3.3rem;
    color:rgb(152, 255, 246) ;
}

/* blog section css completed------------------------------ */

/* ******************************** responsive nav bar */

/* space between links when they are shrinked */
@media screen and (max-width:1024px) {
    header .navbar{
        width:55%;
        
    }
}

/* for mobile perspective */
@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
        box-sizing: border-box;
    }
    .logo{
        margin-left: 26vw;
    }
    .nav-links{
        position:absolute;
        right: 0;
        height: 75vh;
        font-size: 35px;
        /* margin-bottom: 40px; */
        top: 9.6vh;
        background: black; /*#486AAE*/
       
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
       }
      header .fa-bars{
        display: block;
        justify-content: space-around;
      }
      /*     will work only in small screen hover effect ---------    */
      header .nav-links a:hover{
        color: black;
        background-color: white;      
    
        font-weight: bold;
    }
    .hero .container{
        background-size: cover;
        /* height: 100vh;     test than add it */
        animation: change1 20s ease-in-out infinite;
    }
    .details h1{
        font-size: 3.6rem;
        letter-spacing: 2px;
    }
    .details h2{
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
    #king{
        font-size: 2rem;
    }
    @keyframes change1 {
        0%,100%{
            background: url("https://wallpaperaccess.com/full/1908495.jpg");
            background-size: cover;
            background-attachment: fixed;
        }
        25%{
            background: url("https://mfiles.alphacoders.com/787/787656.jpg");
            background-size: cover;
            background-attachment: fixed;
        }
        50%{
            background: url("https://cdn.wallpapersafari.com/59/4/zjkAy1.jpg");
            background-size: cover;
            background-attachment: fixed;
        }
        75%{
            background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/48f15006-bc11-49fa-ae79-396c79c46b6a/dd08wo2-451770fd-6416-488e-b001-7057fa6a22ce.png/v1/fill/w_607,h_1316,q_70,strp/one_piece_iphone_wallpaper_by_afifrafiqin_dd08wo2-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjQzNiIsInBhdGgiOiJcL2ZcLzQ4ZjE1MDA2LWJjMTEtNDlmYS1hZTc5LTM5NmM3OWM0NmI2YVwvZGQwOHdvMi00NTE3NzBmZC02NDE2LTQ4OGUtYjAwMS03MDU3ZmE2YTIyY2UucG5nIiwid2lkdGgiOiI8PTExMjUifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.UZg4pSDnS2fYJVB-dQvCEckBzZxOdlu-G7tVo-TJ8qU");
            background-size: cover;
            background-attachment: fixed;
        }
    }
     .about .box{
        flex-wrap: wrap;
        text-align: center;
        overflow: hidden;
        
    }
    .about .box .content div{
        text-align: left;
      
    } 
    .about .box .image img{
        width: 90%;
        overflow: hidden;
     
    }
    .about h2{
        font-size: 3.3rem;
        overflow: hidden;
      
    }
    .about .box .content{
        margin-left: 0rem;
        text-align: center;
    }
    .about .box .content h3{
        font-size: 3rem;
        overflow: hidden;
      padding-top: 3rem;
    }
    .about .box .content p{
        font-size: 1.3rem;
        overflow: hidden;
     
    }
    .about .box .content div{
        font-size: 1.2rem;
        overflow: hidden;
     text-align: center;
    } 
    .services .row{
        grid-template-columns: repeat(auto-fit,minmax(80%,1fr));
    }
    .services h2{
        font-size: 3.3rem;
    }
}

@media(max-width:750px) {
    .portfolio .row{
        grid-template-columns: repeat(auto-fit,minmax(50%,1fr));
        margin: 1.5rem;
    }
     .portfolio .row .box{
        padding-bottom: 1rem;
    }
    .portfolio h2{
        font-size: 3.3rem;
    }
    .portfolio .row .box h3{
        font-size: 2rem;
    }
    .portfolio .row .box p{
        font-size: 1.6rem;
    }
    .portfolio .row .box a{
        font-size: 1.3rem;
    }
    .portfolio .row .box .content{
        object-fit: cover;
        padding: 1.9rem 0.6rem;
    }
    .team .team-slid .box .image img{
        width: 9rem;
        height: 9rem;
        top: 20rem;
    }
    .team .team-slid .box .content h3{
        font-size: 2.6rem;
    }
    .team .team-slid .box .content p{
        font-size: 2rem;
    }
    .team .row{
        background: url("https://wallpaperaccess.com/full/2013750.png");
        background-size: cover;
        background-attachment: fixed;
    }
    .blog{
        box-sizing: border-box;
        margin-bottom: 0;
    }
    .blog .row{
        grid-template-columns: repeat(auto-fit,minmax(50%,1fr));
        margin: 1.5rem;
    }
    .blog .row .box h3{
        font-size: 2rem;
    }
    .blog .row .box p{
        font-size: 1.6rem;
        display: flex;
        flex-wrap: wrap;
    }
    .blog .row .box video{
        width: 200px;
        height: auto;
    }
    .weicome{
        padding: 0rem 0rem;
        box-sizing: border-box;
        height: 6rem;
    }
    .welcome span{
        font-size: 1.8rem;
    }

}
/* for the animation effect after clicking on the bars */
.nav-active{
    transform: translateX(0%);
}

/*  experiments coding section*/ 
